img {
    width: 300px;
}
body {
    text-align: center;
    text-shadow: rgb(0,0,0);
    font-size: 25;
    color: rgb(0,0,128);
    font-family: "Arial";
    background-color: rgb(255, 251, 160);
    background-size:100%;
    
}
<<<<<<< HEAD
script{
    display: inherit;
    height: 500px;
    width: 500px;
    
    
    
}
=======

>>>>>>> 717f2f1f517250494e461d2eb0b1a3ce5344ac5c
