img {
    width: 200px;
}
body {
    text-align: center;
    color: rgb(255,255,0);
    font-family: "Arial";
    background-image: url("https://github.com/tliggett/tjliggett/blob/master/images/signingday.png?raw=true");
    
}