img {
    width: 300px;
}
body {
    text-align: center;
    color: rgb(255,255,0);
    font-family: "Arial";
    background-image: url("https://raw.githubusercontent.com/tliggett/tjliggett/master/images/Rainbow.png");
    
}