img {
    width: 300px;
}
body {
    text-align: center;
    text-shadow: rgb(0,0,0);
    font-size: 25;
    font-style: bold;
    color: rgb(255,0,0);
    font-family: "Arial";
    background-image: url("https://raw.githubusercontent.com/tliggett/tjliggett/master/images/Rainbow.png");
    background-size:100%;
}