img {
    width: 300px;
}
body {
    text-align: center;
    text-shadow: rgb(0,0,0);
    font-size: 25;
    color: rgb(0,0,128);
    font-family: "Arial";
    background-color: rgb(255, 251, 160);
    background-size:100%;
    
}
script{
    display: inherit;
    height: 500px;
    width: 500px;
    
    
    
}
